<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>AWM | Datos</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/starter-template.css">
</head>
<body class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Aplicación web movil / Datos</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Aplicación web movil / Datos</a>
      </div>
    </div>
  </nav>
  <div class="container">
    
    <div class="starter-template">
      <div class="row">
        <a href="/esquemas" class="title">Esquemas</a> / <span class="title">Datos</span>
      </div>
      <div class="row">
        <a class="btn btn-primary btn-sm" href="/dato/nuevo">Agregar datos</a>
      </div>
      <div class="row">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Datos 1</td>
              <td>
                <a class="btn btn-warning btn-sm" href="#">Editar</a>
                <a class="btn btn-danger btn-sm" href="#">Eliminar</a>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Datos 2</td>
              <td>
                <a class="btn btn-warning btn-sm" href="#">Editar</a>
                <a class="btn btn-danger btn-sm" href="#">Eliminar</a>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Datos 3</td>
              <td>
                <a class="btn btn-warning btn-sm" href="#">Editar</a>
                <a class="btn btn-danger btn-sm" href="#">Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>  
  </div>
</body>
</html>